:root,
body {
  height: 100%;
}

body {
  background: #0E1329;
  margin: 0;
}

#root {
  display: flex;
  height: 100%;
}

nav {
  margin: auto;
  position: relative;
}

nav button {
  -webkit-appearance: none;
  background: #FFF;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
  cursor: pointer;
  outline: none;
  padding: 0;
  pointer-events: auto;
  position: relative;
}

nav > button {
  font-size: 18px;
  margin: 80px;
  z-index: 2;
}

nav > button div {
  align-items: center;
  display: flex !important;
  justify-content: center;
}

nav > ul {
  list-style: none;
  margin: 0;
}

nav > ul > li {
  pointer-events: none;
  text-align: center;
}

nav > button div,
nav > ul > li,
.item,
.button-shadow,
.border {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.item {
  transform: scale(0);
}

.item button {
  color: #FFF;
}

.item .button-shadow .border {
  border-style: solid;
  border-radius: 50%;
  clip-path: polygon(
          50% 50%,
          50% 0,
          50% 0,
          50% 0,
          50% 0,
          50% 0,
          50% 0
  );
}

.item .button-shadow .corner {
  border-style: solid;
  border-radius: 50%;
  cursor: pointer;
  left: 50%;
  position: absolute;
  top: 0;
}